appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.13
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
html5lib==1.1
idna==2.10
isort==5.4.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
mypy==0.782
mypy-extensions==0.4.3
numpy==1.19.1
Pillow==7.2.0
pipenv==2020.8.13
psycopg2==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
static3==0.7.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
webencodings==0.5.1
whitenoise==5.2.0
wrapt==1.12.1
