{% extends 'base.html' %}

{% block title %}MyFinances{% endblock %}

{% block content %}
<div id="interface">
    <header id="cabecalho">
    <hgroup>
        <h1> <img src="static/images/money-back64.png" width="45px"/> My Finances</h1>
        <h2>Controle seus gastos de forma simples<br>
        e rápida sem perder a paciência com a
        porcaria do Excel.</h2>
    </hgroup>

    <center>
        <img id="foto1" src="static/images/controle-gastos.png" align="right">
    </center>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/cadastro">CRIAR CONTA</a></li>
            <li><a href="/login">ACESSE SUA CONTA</a></li>
        </ul>
    </nav>
</div>
{% endblock %}