{% extends 'base.html' %}

{% load static %}

    {% block link%}<link rel="stylesheet" type="text/css" href="{% static '/css/page_one.css' %}"/>{% endblock %}

{% block title %}MyFinances{% endblock %}

{% block content %}
        <div id="interface">
            <header id="cabecalho">
            <hgroup>
                <h1> <img src="{% static '/images/money-back64.png' %}" width="45px"/> MyFinances</h1>
            </hgroup>
                <img id="foto1" src="{% static '/images/page_one.png' %}" align="right">
            </header>
            <nav id="menu">
                <ul>
                    <li><a href="{% url 'accounts:relatorio_despesas' %}">RELATÓRIO DE DESPESAS</a></li>
                </ul>
            </nav>

            <form method="post">
                {% csrf_token %}
                <div class="inputs">
                    <input class="saldo" name="saldo" step="0.01" type="number" placeholder="SALDO" style="margin-top: 5px;">
                    <button type="submit">ADICIONAR</button>
                    <input id="meta" name="meta" step="0.01" type="number" placeholder="META DE GASTOS">
                    <button type="submit">ADICIONAR</button>
                    <input id="gastos" name="gastos" step="0.01" type="number" placeholder="GASTOS">
                    <button type="submit">ADICIONAR</button>
                    <input id="descricao" name="descricao" type="text" placeholder="DESCRIÇÃO">
                    <button type="submit">ADICIONAR</button>
                </div>
                {% for saldo in total %}
                            <span>{{saldo.saldo}}</span>
                            <span>{{saldo.meta}}</span>
                            <span>{{saldo.gastos}}</span>
                {% endfor %}
            </form>
        </div>
{% endblock %}