{% extends 'base.html' %}

{% load static %}

    {% block link%}<link rel="stylesheet" type="text/css" href="{% static '/css/page_one.css' %}"/>{% endblock %}

{% block title %}MyFinances{% endblock %}

{% block content %}
        <div id="interface">
            <header id="cabecalho">
            <hgroup>
                <h1> <img src="{% static '/images/money-back64.png' %}" width="45px"/> MyFinances</h1>
            </hgroup>
            <nav id="menu">
                <ul>
                    <li><a href="{% url 'accounts:relatorio_despesas' %}">RELATÓRIO DE DESPESAS</a></li>
                </ul>
            </nav>
            </header>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
                <div class="money">
                {% for saldo in total %}
                    <ul>
                        <li class="s" id="s1"><b>Saldo atual:</b> <span>{{saldo.saldo}}</span></li>
                        <li class="s" id="s2"><b>Meta:</b> <span>{{saldo.meta}}</span></li>
                        <li class="s" id="s3"><b>Ultimo gasto:</b> <span>{{saldo.gastos}}</span></li>
                    </ul>
                {% endfor %}
                </div>
            </form>
        </div>
{% endblock %}