{% extends 'base.html'%}
{% load static %}

{% block title%}MyFinances{% endblock%}

{% block content %}
    <h1>Cadastre-se agora</h1>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <form action="." method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar conta</button>
        <a href="{% url 'accounts:user_login' %}">Fazer Login</a>
    </form>

{% endblock %}