{% extends 'base.html' %}

{% load static %}

    {% block link %}<link rel="stylesheet" href="{% static '/css/create.css' %}" type="text/css">
                    <link rel="stylesheet" media="only screen and (max-width: 736px)" href="{% static '/css/create_mobile.css' %}" type="text/css"/>
    {% endblock%}

{% block title %}MyFinances{% endblock %}

{% block content %}

    <h1><img src="{% static '/images/money-back64.png' %}" width="45px" style="margin-top: 10px;"/>MyFinances</h1>

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
<div class="login">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h2>CADASTRE - SE</h2>
        <div class="errors">
            {{ form.email.errors }}
            {{ form.first_name.errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
        </div>
        <div id="first_name">
            <label for="{{ form.fist_name.id_for_label }}">Nome: </label>
            {{ form.first_name }}
        </div>
        <div id="username">
            <label for="{{ form.username.id_for_label }}">Usuario: </label>
            {{ form.username }}
        </div>
        <div id="email">
            <label for="{{ form.email.id_for_label }}">Email: </label>
            {{ form.email }}
        </div>
        <div id="Pass">
            <label for="{{ form.password.id_for_label }}">Senha: </label>
            {{ form.password }}
        </div>
        <button type="submit" id="log">Criar conta</button><br/>
        <a id="acesse" href="{% url 'accounts:user_login' %}">Fazer Login</a>
    </form>
</div>
{% endblock %}