{% extends 'base.html' %}
{% load static %}

    {% block link%}<link rel="stylesheet" href="{%static '/css/relatorio.css' %}">{% endblock %}

{% block title %}Myfinances{% endblock %}

{% block content %}
    <h2><a href="/page-one"><img src="{% static '/images/money-back64.png' %}"></a> MyFinances</h2>
    {% csrf_token %}
<div class="login">
    <select name="anome" id="anome">
            {% for mes in meses %}
                <option value="aparelhos">{{ mes }}</option>
            {% endfor %}
            </select>
    {% for saldo in total %}
        <ul>
            <li class=gastos-item style="list-style: none;">
                <span><b>TOTAL GASTOS:</b> R${{saldo.total_gastos}}</span><br><br>
                <span><b>Data último gasto:</b> {{saldo.created_at}}</span><br><br>
                <span><b>Desc último gasto:</b> {{saldo.descricao}}</span><br><br>
            </li>
        </ul>
    {% endfor %}
    <img src="{% static '/images/relatorio.png' %}" width="280px;"/>
    <a href="{% url 'accounts:user_logout' %}" style="text-decoration: none;">FAZER LOGOUT</a>
</div>
{% endblock %}
