{% extends 'base.html' %}
{% load static %}

    {% block link%}<link rel="stylesheet" href="{%static '/css/relatorio.css' %}">{% endblock %}

{% block title %}Myfinances{% endblock %}

{% block content %}
    <h2><a href="/page-one"><img src="{% static '/images/money-back64.png' %}" width="45px;" style="margin-left: 5px;
 margin-top: 5px;"></a> MyFinances</h2>
    {% csrf_token %}
<div class="login">
         <form role="form" method='post' action="{% url 'accounts:relatorio_despesas' %}">
             {% csrf_token %}
             <tr>
                 <td><select name="meses">

                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option selected value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                     </select></td>
                  <td><select name="year">
                    <option selected value="2020">2020</option>
                    <option value="2021">2021</option>
                 </select></td>
            <td>
            <input type='submit' value='Procurar'/>
            </td>
             </tr>
            </form>
    {% for saldo in total %}
        <ul>
            <li class=gastos-item style="list-style: none;">
                <span><b>TOTAL GASTOS:</b> R${{saldo.total_gastos}}</span><br><br>
                <span><b>Data último gasto:</b> {{saldo.created_at}}</span><br><br>
                <span><b>Descrição último gasto:</b> {{saldo.descricao}}</span><br><br>
            </li>
        </ul>
    {% endfor %}
    <img src="{% static '/images/relatorio.png' %}" width="280px;"/>
    <a href="{% url 'accounts:user_logout' %}" style="text-decoration: none;">FAZER LOGOUT</a>
</div>
{% endblock %}
