{% extends 'base.html' %}
{% load static %}


    {% block link%}
        <link rel="stylesheet" href="{% static '/css/login.css' %}" type="text/css">
        <link rel="stylesheet" media="only screen and (max-width: 736px)" href="{% static '/css/login_mobile.css' %}" type="text/css"/>
    {% endblock%}

{% block title%}MyFinances{% endblock%}

{% block content %}
    <div class="title">
        <h1><img src="{% static '/images/money-back64.png' %}" width="45px" style="margin-top: 10px;"/>MyFinances</h1>
    </div>
        <div class="login">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <h2>LOGIN</h2>
                {% for message in messages %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <label id="usuario">Usuario:</label>
                <input type="text" name="username" id="username" maxlength="100" placeholder="Usuário ou Email">
                <label id="senha">Senha:<input type="password" name="password" id="password" maxlength="12" placeholder="Senha"></label>
                <button type="submit" id="log">Entrar</button>
                <a href="{% url 'accounts:cadastro' %}">Cadastre-se agora!</a>
            </form>
        </div>
{% endblock %}