@charset "UTF-8";

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#dddddd;
    font-family: 'Arial';
}

h1 {
    font-family: 'Bubblegum Sans', cursive, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

.login{
    width: 382px;
    overflow: hidden;
    margin-left: 520px;
    margin-top: 100px;
    padding: 80px;
    background: #B298FB;
    border-radius: 15px ;
}

h2{
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Bubblegum Sans', cursive, sans-serif;
}

#first_name {
    width: 300px;
    height: 30px;
    margin-left: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#username {
    width: 300px;
    height: 30px;
    margin-left: 27px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#email {
    width: 300px;
    height: 30px;
    margin-left: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 30px;
    margin-left: 35px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: #9BDC90;
    color: #ffffff;
    margin-left: 85px;
}

a {
    position: relative;
    background-color: #b298fb;
    color: #ffffff;
    text-decoration: none;
    margin-left: -50px;
    bottom: -50px;
}


a:hover {
    color: #000000;
}
