@charset "UTF-8";

body
{
    margin: 0;
    padding: 0;
    background-color:#dddddd;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin-left: 520px;
        margin-top: 100px;
        padding: 80px;
        background: #B298FB;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin-top: 17px;
    font-family: 'Bubblegum Sans', cursive, sans-serif;
}

label{
    color: #ffffff;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: #9BDC90;
    color: #ffffff;
    margin-left: 100px;


}
span{
    color: #ffffff;
    font-size: 17px;
}

a {
    position: absolute;
    background-color: #b298fb;
    color: #ffffff;
    text-decoration: none;
    margin-left: 270px;
    bottom: 220px;
}

a:hover {
    color: #000000;
}