@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
}

.rel button {
    width: 13%;
    height: 40px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: #9BDC90;
    color: #000000;
    margin-left: 30%

}

.rel button a {
    text-decoration: none;
}

hgroup h1 img {
    width: 3%;
}


.rodape img {
    width: 30%;
    position: relative;
    left: -53px;;

}


header#cabecalho h1 {
    font-family: 'Bubblegum Sans', cursive, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}


header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 20px;
    margin-left: 25px;
}


.form button {
    width: 13%;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background-color: #9BDC90;
    color: #000000;
    margin-left: 85px;
}


.form button:hover {
    color: #ffffff;
    background-color: #606060;
}
