@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
}

img#foto3 {
    width: 600px;
    position: absolute;
    left: -50px;
    top: 250px;
}


h1 {
    font-family: 'Bubblegum Sans', cursive, sans-serif;
    margin-top: 17px;
    font-size: 25pt;
    color: #ffffff;
    padding: 0px;
    margin-bottom: 0px;
}